
@import 'style'

form.edit_section
  margin-bottom: 30px

form.new_document, form.edit_document, form.edit_section
  clear: both

  // Form elements
  label
    display: block
    font-size: $base
    font-weight: bold
    color: $bgcolor

  input[type="checkbox"] + label
    display: inline
    font-weight: normal
    color: $text
    padding-left: 5px

  input[type="text"], textarea
    border: 2px solid #bbb
    font-size: $base
    width: 100%
    @include border-box-sizing
    padding: 5px

  select
    border: 2px solid #bbb
    font-size: $base
    @include border-box-sizing
    padding: 2px

  input[type="file"]
    font-size: $base
    @include border-box-sizing

  textarea
    height: 200px

  input[type="submit"]
    font-size: $base
    padding: 5px 15px
    margin: 0px 10px 0px 0px

  input[type="text"], input[type="file"], textarea, select
    margin: 0px 0px 10px 0px

  table.field_with_button
    width: 100%
    border-collapse: collapse
    td
      vertical-align: top
    td.wide
      width: 100%

  .map_input
    width: 100%
    height: 220px
    margin-bottom: 15px

  .zoom_field
    font-size: $base
    width: 70px
    i
      color: $bgcolor
      padding: 0px 5px 0px 10px
    input
      width: 35px

  .error_explanation h2,
  .error_explanation li
    color: $error

  .field_with_errors input,
  .field_with_errors textarea
    border: 4px solid $error

  .field
    clear: both

  .select_deck
    float: left
    clear: none
    margin-right: 10px

  .notice, .alert
    font-size: $base
    padding: 10px 15px
    color: #fff

    i
      padding-right: 5px

  .notice
    background: $notice

  .alert
    background: $error

  h2.form-title, h3.form-title
    color: #fff
    padding: 3px 10px
    margin-top: 0px

    .buttons
      float: right
      div
        cursor: default

  h2.form-title
    background: $section

  h3.form-title
    background: $paragraph


// Submit
form.new_document, form.edit_document, form.edit_section
  .field.submit
    padding: 10px 20px
    background: $bgcolor
    color: #fff
    a
      color: #fff

form.new_document, form.edit_document
  .field.submit
    margin: 30px 20px

form.edit_section
  .field.submit
    margin: 10px 0px

  .discard-add-paragraph
    display: inline
    text-decoration: underline
    cursor: pointer


// Document, sections, paragraphs structure
form.edit_section

  .paragraph_form
    clear: both
    padding-bottom: 10px


form.new_document, form.edit_document
  
  > h1
    padding: 0px 20px

  > .base_document_form
    width: $block
    padding: 0px 20px
  
  td.frame
    > .sections
      > .section_form
        clear: both
        margin-bottom: 30px

        > .paragraphs
          > .paragraph_form
            clear: both
            padding-top: 30px

        > .paragraphs_summary
          display: inline-block
          background: $grey
          color: $paragraph
          padding: 10px 15px
          margin: 10px 0px

          i
            padding-right: 5px

        > .buttons
          clear: both
          padding: 30px 0px
          text-align: right

    > .buttons
      clear: both


  // Sortable
  .section_form   > .abstract,
  .paragraph_form > .abstract,
    display: none

  .sortable

    .frame > .buttons,
    .section_form > h2,
    .section_form > .error_explanation,
    .section_form > .field,
    .section_form > .prototype,
    .section_form > .buttons,
    .paragraph_form > h3,
    .paragraph_form > .error_explanation,
    .paragraph_form > .field,
    .paragraph_form > .prototype
      display: none

    .section_form > .abstract,
    .paragraph_form > .abstract
      cursor: default
      display: block
      padding: 5px 10px
      color: #fff

    .section_form > .abstract
      margin: 10px 0px 0px 0px
      background: $section
      font-size: $h3
      font-weight: bold

    .paragraph_form > .abstract
      margin: 10px 0px
      background: $paragraph
      font-size: $base

    td.frame
      > .sections
        margin: 20px 0px
        padding: 15px 20px
        background: $pearl

        > .section_form

          > .paragraphs
            margin: 0px
            padding: 15px 20px
            background: $grey

            > .paragraph_form
              padding: 0px

          > .paragraphs_summary
            margin: 0px


  // Section framing
  table.section_frames
    width: 100%
    border-collapse: collapse

    > tbody > tr > td
      vertical-align: top
      padding: 0px 15px

    > tbody > tr > td:first-child
      padding-left: 20px

    > tbody > tr > td:last-child
      padding-right: 20px

    > tbody > tr > td[data-frame="0"]
      width: 40%

    > tbody > tr > td[data-frame="1"]
      width: 30%

    > tbody > tr > td[data-frame="2"]
      width: 30%

  
// Buttons
form.new_document, form.edit_document, form.edit_section

  .button
    display: inline-block
    padding: 5px 10px
    color: #fff
    cursor: default

    i
      padding-right: 5px

    .title
      display: inline-block
  

  .button.paste-prototype-id
    background: $bgcolor
    margin-left: 5px

    width: 70px
    text-align: center

  .button.locate
    background: $bgcolor
    margin-left: 5px

    width: 70px
    text-align: center


form.new_document, form.edit_document

  .button.sort
    background: $bgcolor
    margin: 20px

    float: left

  .button.add_template[data-append-to=".sections"]
    background: $section
    margin: 10px 10px 10px 0px

  .button.add_template[data-append-to=".paragraphs"]
    background: $paragraph
    margin: 10px 0px 10px 10px
