
@import 'style'

section.document_index
  padding: 0px 20px

  header
    .board
      font-size: $huge
      font-weight: bold
      margin: 0px
      padding: 0px 15px 10px 0px
      float: left

    .details
      font-size: $mini
      margin: 0px
      padding-top: 10px

    .actions
      margin: 0px
      padding-top: 10px

      a
        color: #fff
        background: $bgcolor
        border: 1px solid $bgcolor
        padding: 1px 3px

      a:hover
        color: #000
        background: #fff


  .list
    clear: left


article.document_overview
  margin-bottom: 15px
  clear: left

  img
    float: left
    display: block
    margin: 0px 10px 25px 0px

  h2.title
    font-size: $h2
    font-weight: normal
    margin: 0px
    padding: 0px

  p.message
    font-size: $base
    margin: 0px
    padding: 0px

  .url
    font-size: $small

  .details
    font-size: $mini
    color: $bgcolor


aside.sidebar
  h1
    font-size: $h1side
    font-weight: normal
    font-style: italic
    padding-top: 20px
    clear: both

  h1:first-child
    padding-top: 0px

  article.document_overview
    .title
      font-size: $base

    .message
      font-size: $mini

    .url
      font-size: $mini
