@import 'style'

body > .section
  width: $block
  margin: 75px auto

.section
  width: 100%
  clear: both
  padding-bottom: 50px

  > .header
    padding-bottom: 20px

    img
      float: left
      padding: 0px 10px 20px 0px
      border: 0px

    h2
      padding: 0px
      margin: 0px
      margin-bottom: 10px
      font-size: $h2

      .title
        display: inline

      .section-id
        display: inline
        color: #fff
        background: $pastel_section
        padding: 2px 4px
        margin-right: 8px

      .section-id:hover
        background: $section

    .button
      display: inline-block
      padding: 5px 10px
      color: #fff
      cursor: default

      i
        padding-right: 5px

      .title
        display: inline-block
  

    .button.add_paragraph_form,
    .button.add_paragraph_instance_form
      background: $pastel_paragraph
      margin: 10px 10px 10px 0px

    .button.add_paragraph_form:hover,
    .button.add_paragraph_instance_form:hover
      background: $paragraph
