
$text: #000

$bgcolor: #855
$pastel_bgcolor: #caa
$dark_bgcolor: #744

$error: #f44
$notice: #4c4

$section: #588
$paragraph: #558
$poster: #585

$pastel_section: #acc
$pastel_paragraph: #aac
$pastel_poster: #aca

$dark_section: #477
$dark_paragraph: #447
$dark_poster: #474

$pearl: #eee
$grey: #ccc
$darkgrey: #555

$navigation: 16px

$mini: 11px
$small: 14px
$base: 17px
$base_icon_line_height: 18px
$huge: 60px

$h1: 30px
$h1side: 25px
$h2: 24px
$h3: 18px

$block: 520px

@mixin border-box-sizing
  box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  -webkit-box-sizing: border-box

@mixin border-radius($radius: 3px)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
